en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
pandas==1.5.1
Flask==2.1.2
numpy==1.23.1
scikit-learn==1.1.3
